version: '3.5'
services:
  influxdb:
    container_name: nr5103-collector-influxdb
    image: influxdb:2.0.7-alpine
    ports:
      - 8086:8086
    volumes:
      - influxdb:/var/lib/influxdb2
      - ./setup-v1.sh:/docker-entrypoint-initdb.d/setup-v1.sh
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=nr5103
      - DOCKER_INFLUXDB_INIT_PASSWORD=nr5103password
      - DOCKER_INFLUXDB_INIT_ORG=nr5103
      - DOCKER_INFLUXDB_INIT_BUCKET=nr5103
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=nr5103token
      - V1_DB_NAME=nr5103
      - V1_RP_NAME=autogen
      - V1_AUTH_USERNAME=nr5103
      - V1_AUTH_PASSWORD=nr5103password

  grafana:
    container_name: nr5103-collector-grafana
    build: ./grafana
    ports:
      - 3000:3000
    volumes:
      - grafana:/var/lib/grafana

volumes:
  influxdb:
    name: nr5103-collector-influxdb
  grafana:
    name: nr5103-collector-grafana
